.idea
.idea/*
**/venv
**/.ipynb_checkpoints
**/__pycache__/**
saved_models/Ex**
saved_models/**
saved_models
experiments/**
experiments
logs/**
build
build/*
quickNAT_pytorch.egg-info
quickNAT_pytorch.egg-info/*
other_packages/
*.DS_Store
documentation/
.vscode/
create_datasets/datasets/**
create_datasets/temp/**
create_datasets/temp
create_datasets/datasets
