absl-py==0.11.0
ants==0.0.7
-e git+https://github.com/ANTsX/ANTsPy.git@e6b4b1ed7c60cf2b059d8d2b318278a169ae5b1d#egg=antspyx
APScheduler==3.6.3
asgiref==3.3.0
astunparse==1.6.3
attrs==19.3.0
autobahn==20.12.3
Automat==20.2.0
backcall==0.1.0
batchgenerators==0.21
bleach==3.1.5
cachetools==4.1.0
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
chart-studio==1.1.0
constantly==15.1.0
cryptography==3.3.1
cycler==0.10.0
dataclasses==0.6
dateparser==1.0.0
decorator==4.4.2
defusedxml==0.6.0
dicom2nifti==2.2.12
Django==3.1.3
docopt==0.6.2
entrypoints==0.3
feedparser==6.0.2
flatbuffers==1.12
future==0.18.2
gast==0.3.3
gevent==20.9.0
google-auth==1.16.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
gpytorch==0.1.0rc4
greenlet==0.4.17
grpcio==1.32.0
h5py==2.10.0
hiddenlayer @ git+https://github.com/nanohanno/hiddenlayer.git@321c5d934c6ed3a7e8d330bc4adcf7764bc440c3
httpserver==1.1.0
hyperlink==20.0.1
idna==2.9
imageio==2.8.0
importlib-metadata==1.6.0
incremental==17.5.0
ipydatawidgets==4.1.0
ipykernel==5.3.0
ipython==7.15.0
ipython-genutils==0.2.0
ipyvolume==0.5.2
ipywebrtc==0.5.0
ipywidgets==7.5.1
jedi==0.17.0
Jinja2==2.11.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterthemes==0.20.0
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
lesscpy==0.14.0
linecache2==1.0.0
loss-landscapes==3.0.6
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==2.2.2
MedPy==0.4.0
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.1
mkl-service==2.3.0
monai==0.3.0
nbconvert==5.6.1
nbformat==5.0.6
networkx==2.4
nibabel==2.5.2
nilearn==0.5.2
niwidgets==0.2.2
nn-common-modules @ https://github.com/ai-med/nn-common-modules/releases/download/v1.2/nn_common_modules-1.4-py3-none-any.whl
-e git+https://github.com/MIC-DKFZ/nnUNet.git@df97059de7040b58394cb2a12c51d6182e8b51d4#egg=nnunet
notebook==6.0.3
numpy==1.16.6
oauthlib==3.1.0
olefile==0.46
opt-einsum==3.3.0
packaging==20.4
pandas==1.2.0
pandocfilters==1.4.2
parso==0.7.0
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
plotly==4.12.0
ply==3.11
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.12.2
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydicom==2.1.2
Pygments==2.6.1
PyHamcrest==2.0.2
pynrrd==0.4.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrsistent==0.16.0
python-binance==0.7.5
python-dateutil==2.8.1
python-telegram-bot==13.1
pythreejs==2.2.1
pytz==2020.4
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.1
qtconsole==4.7.4
QtPy==1.9.0
regex==2020.11.13
requests==2.23.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.7
# Editable install with no version control (scikit-image==0.17.2)
scikit-learn==0.20.2
scipy==1.3.0
seaborn==0.11.1
Send2Trash==1.5.0
service-identity==18.1.0
sgmllib3k==1.0.0
SimpleITK==2.1.0.dev67
six==1.15.0
sklearn==0.0
sqlparse==0.4.1
squeeze-and-excitation==1.0
statsmodels==0.12.1
tabulate==0.8.2
tensorboard==2.4.0
tensorboard-plugin-wit==1.6.0.post3
tensorboardX==2.0
tensorflow==2.5.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
tifffile==2020.5.30
torch==1.7.0
torchcontrib==0.0.2
torchvision==0.8.1
tornado==6.0.4
tqdm==4.26.0
traceback2==1.4.0
traitlets==4.3.3
traittypes==0.2.1
Twisted==20.3.0
txaio==20.12.1
typing-extensions==3.7.4.3
tzlocal==2.1
unittest2==1.1.0
urllib3==1.25.9
wcwidth==0.2.2
webcolors==1.11.1
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
zipp==3.1.0
zope.event==4.5.0
zope.interface==5.2.0
